/* Pré configurações iniciais: */

* {
    border-style: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html, body, #pessoa-card-area {
    width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.178);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189);
    border-radius: 20px;
}

#pg-titulo {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(46, 46, 46);
}

#pessoa-card-area {
    display: flex;
    flex-direction: column;
}

/* Cartao com informações de pessoas: */

.pessoa-card {
    cursor: pointer;
    padding-bottom: 10px;
    margin-top: 20px;
}

.cartao-flutuante {
    background-color: rgba(39, 39, 39, 0.082);
    color: rgb(71, 70, 70);
    margin: 0 auto 20px;
    border-radius: 10px;
    width: 40%;
    border-color: rgb(53, 53, 53);
    border-width: 2px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.id-user {
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: #fff;
    font-weight: 550;
    padding: 10px 0px 10px 0px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.dado {
    margin: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.data-name {
    font-weight: 900;
}

.cartao-flutuante, .btn-flutuante {
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
}

/* Botão flutuante inferior direito: */

.btn-flutuante {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#add-pessoas {
    background-image: url("/aprendendo%20php/img/mais.png");
}

#voltar {
    background-image: url("/aprendendo%20php/img/volte.png");
}

/* Mensagem de conexão com banco de dados: */

#status-conexao {
    user-select: none;
    background-color: rgb(53, 53, 53);
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    width: 100%;
}

#status-conexao.sucesso {
    background-color: rgb(59, 185, 1);
}

#status-conexao.erro {
    background-color: rgb(163, 1, 1);
}

.invisivel {
    display: none;
}

/* Indice das paginas: */
#lista-paginas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.item-sumario {
    transition-property: background-color;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: rgb(53, 53, 53);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.item-sumario.seta {
    border-color: rgb(134, 134, 134);
}

.item-sumario.numero {
    border-color: rgba(255, 255, 255, 0);
}

.pg-selecionada {
    background-color: rgb(53, 53, 53);
    color: #fff;
}

/* Responsividade: */

@media all and (max-width: 60em) {
    .cartao-flutuante, #lista-paginas {
        width: 50%;
    }
}

@media all and (max-width: 30em) {
    .cartao-flutuante, #lista-paginas {
        width: 97%;
    }
}

/* Habilitando hover somente em dispositivos com mouse */

@media (hover: hover) and (pointer: fine) {
    .item-sumario.numero:hover {
        background-color: rgb(224, 224, 224);
    }

    .item-sumario.pg-selecionada:hover {
        background-color: rgb(26, 26, 26);
    }

    .item-sumario.seta:hover {
        background-color: rgb(26, 26, 26);
        color: #fff;
    }

    .item-sumario {
        cursor: pointer;
        user-select: none;
    }

    .cartao-flutuante:hover, .btn-flutuante:hover {
        box-shadow: 5px 4px 10px 5px rgba(0, 0, 0, 0.25);
        transform: scale(1.1);
    }
}